<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955701865851-09v1dfvcsdm576alknbk2hell6jfidc2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955701865851-09v1dfvcsdm576alknbk2hell6jfidc2</string>
	<key>API_KEY</key>
	<string>AIzaSyApRRALZQZ2OgSTM2W_BKQBhgU4qU7LPHo</string>
	<key>GCM_SENDER_ID</key>
	<string>955701865851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appChatTh</string>
	<key>PROJECT_ID</key>
	<string>appchatth-61c35</string>
	<key>STORAGE_BUCKET</key>
	<string>appchatth-61c35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955701865851:ios:5096dda8689d2f28ce61de</string>
</dict>
</plist>